body {
  font-family: 'Lato', 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  min-height: 100vh;
  color: rgb(224, 224, 224);
  position: relative;
}

.title {
  font-size: 45px;
}

.img {
  width: 300px;
  border: 5px solid white;
  border-radius: 50%;
}

.my-name {
  color: #00c7c7
}

#particles-js {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #343A40;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
}

.header .row {
  padding-top: 100px;
}

.underline {
  margin: auto;
  width: 90px;
  height: 4px;
  background-color: #343A40;
}

.progress {
  height: 30px;
  margin-top: 20px;
}

.progress-bar {
  background-color: #343A40;
}

.progress-bar h5 {
  background-color: #656f79;
  padding: 10px;
  min-width: 150px;
}

.progress-bar p {
  margin-top: 15px;
  font-size: 14px;
}

.react {
  animation-name: react;
}

.javaScript {
  animation-name: javaScript;
}

.html {
  animation-name: html;
}

.css {
  animation-name: css;
}

.bootstrap {
  animation-name: bootstrap;
}

.material-ui {
  animation-name: material-ui;
}

.python {
  animation-name: python;
}

.express {
  animation-name: express;
}

.nodeJS {
  animation-name: node;
}

.mongoDB {
  animation-name: mongo;
}

.react, .javaScript, .html, .css, .bootstrap, .material-ui, .nodeJS, .mongoDB, .python, .express {
  animation-duration: 4s;
  animation-delay: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes react {
  from {
    width: 30%
  }
  to {
    width: 80%
  }
}

@keyframes javaScript {
  from {
    width: 30%
  }
  to {
    width: 70%
  }
}

@keyframes html {
  from {
    width: 30%
  }
  to {
    width: 90%
  }
}

@keyframes bootstrap {
  from {
    width: 30%
  }
  to {
    width: 85%
  }
}

@keyframes material-ui {
  from {
    width: 30%
  }
  to {
    width: 70%
  }
}

@keyframes css {
  from {
    width: 30%
  }
  to {
    width: 90%
  }
}

@keyframes node {
  from {
    width: 30%
  }
  to {
    width: 40%
  }
}

@keyframes python {
  from {
    width: 30%
  }
  to {
    width: 50%
  }
}

@keyframes express {
  from {
    width: 30%
  }
  to {
    width: 40%
  }
}

@keyframes mongo {
  from {
    width: 30%
  }
  to {
    width: 40%
  }
}

.fancy-bg {
  background: url("images/header-bg.png");
  background-size: cover;
  min-height: 100vh;
  padding: 50px 0;
}

.fancy-bg .row, .projects, .projects .row {
  padding-top: 50px;
}

.projects .row {
  min-height: 55vh;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.see-more {
  padding: 10px 35px;
  margin: 20px auto;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #00e0e0, #039090);
  font-weight: 500;
  color: white;
  max-width: 200px;
}

.see-more:hover {
  background-image: linear-gradient(90deg, #039090, #00e0e0);
}

.footer {
  color: white;
  text-align: center;
  min-height: 20vh;
  position: absolute;
  left: 0;
  right: 0;
}

.icon {
  font-size: 2em;
  margin: 20px;
  transition: transform .3s ease;
}

.footer a {
  color: white;
}

.footer a:hover .icon {
  color: #00c7c7;
  transform: scale(1.3);
}

.form-container {
  padding: 50px;
  min-height: 80vh;
  max-width: 65vw;
  margin: auto;
  position: relative;
  color: white
}

.about-container {
  min-height: 100vh;
}

.about-container .row {
  padding: 50px 0;
}

.about-container img {
  width: 300px;
  clip-path: polygon(29% 6%, 73% 6%, 100% 50%, 72% 94%, 27% 94%, 0 49%);
}

.few-words {
  font-size: 18px;
}

.about-container h2 {
  font-weight: 600;
}

.blog-container {
  min-height: 80vh;
}